html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0px auto;
    width: 1200px;
}
.ck.ck-editor__main>.ck-editor__editable {
    min-height: 700px;
}